* {
  font-family: 'Roboto', sans-serif;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

button,
.food-category,
.fullcap {
  cursor: pointer;
}

body {
  background: white;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.user-info {
  padding-left: 2vw;
}

.home-button,
.favorited-recipe-button,
.favorite-recipe-button,
.remove-recipe-button,
.pantry-button {
  margin-left: 10px;
}

.image-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
}

h1 {
  display: flex;
  background: #EDBEBE;
  height: 15vh;
  color: #4b4040;
  margin: 0;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #4b4040;
  padding-left: 2vw;
}

h3,
p {
  color: #4b4040;
}

nav {
  height: 7vh;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2vw;
}

.main {
  display: flex;
  width: 100vw;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 18vw;
}

.category-and-reset-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.reset-button {
  margin-left: 1vw;
}

.filter-section,
.ingredient-section {
  width: 25vw;
  margin-right: 15px;
  background: #E3D3D3;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.ingredient-info {
  display: flex;
}

.search {
  display: flex;
  width: 20vw;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border: none;
}

.search-field {
  width: 12vw;
  font-size: 20px;
}

.submit-search-button {
  margin-left: 1.5vw;
}

label {
  font-size: 20px;
}

li {
  padding-top: 2vh;
  color: #4b4040;
}

ul {
  margin-top: 0;
}

.filter {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  border: none;
}

.recipe-repository,
.favorite {
  width: 75vw;
  min-height: 100vh;
  background: #E3D3D3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

select {
  cursor: pointer;
}

.dropDropMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.quantityInput {
  width: 3.5vw;
  height: 2vw;
  font-size: 15px;
}

.selectMenu {
  width: 10vw;
  padding: 10px;
  font-size: 15px;
}

.pantry {
  background: #E3D3D3;
  height: fit-content;
}

.pantryContents {
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.pantryItems {
  display: flex;
  width: 32vw;
  height: fit-content;
  justify-content: space-evenly;
  margin-top: 15px;
}

.pantryHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 24vw;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5vh;
}

.addButton {
  font-size: 1em;
}

.boxI {
  border: 2px solid white;
  height: 4vh;
  width: 19vw;
}

.boxA {
  border: 2px solid white;
  height: 4vh;
  width: 5vw;
  text-align: center;
}

.miniButtons {
  height: 2.5vh;
  width: 2.5vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe {
  width: 75vw;
  min-height: 100vh;
  background: #E3D3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

.instructions {
  width: 60vw;
  height: fit-content;
  background: white;
  text-align: left;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 5vh;
}

.recipe-message {
  font-size: 1.25em;
  margin-top: 0;
}

.unfound-recipe-message, .no-saved-message{
  font-size: 25px;
}

h2 {
  padding-left: 0;
  text-align: center;
}

.instructions {
  font-size: 20px;
  padding-bottom: 20px;
}

.cost-amount {
  margin: 0;
}

.total-cost {
  width: 20vw;
  height: fit-content;
  background: white;
  text-align: center;
}

img {
  height: 20vw;
  width: 20vw;
}

button {
  font-size: 1.25em;
  background: #974343;
  color: white;
  border: none;
}

.fullwrap {
  position: relative;
  height: fit-content;
  margin-top: 4vh;
}

.fullcap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 1.5em;
  padding-top: 40%;
  background-color: rgba(235, 226, 226, 0.7);
  color: #3d1f1f;
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.fullwrap:hover,
.fullcap:hover {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

.recipe-image {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.fade-out {
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}